src/main/mule/chainsync-platform-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">


    <!-- Import global configuration first -->
    <import file="global.xml" doc:name="Import Global Configurations"/>
    
    <!-- Import other configuration files -->
    <import file="external-api-config.xml" doc:name="Import External API Configurations"/>
    <import file="environmental-data-integration.xml" doc:name="Import Environmental Data Integration"/>
    <import file="error-handling.xml" doc:name="Import Error Handling"/>
    
    <!-- Import fleet monitoring and coordination -->
    <import file="fleet-monitoring-api.xml" doc:name="Import Fleet Monitoring Implementation"/>
    <import file="environmental-data-system-api.xml" doc:name="Import Environmental Data System API"/>
    <import file="fleet-environmental-coordination.xml" doc:name="Import Fleet Environmental Coordination"/>
    
    <!-- APIkit Configuration -->
    <apikit:config name="chainsync-platform-api-config" api="api/chainsync-platform-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>

    <!-- Main API Flow -->
    <flow name="chainsync-platform-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*" doc:name="HTTP Listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>

        <apikit:router config-ref="chainsync-platform-api-config" doc:name="APIkit Router"/>
        <!--  <error-handler ref="Global_Error_Handler"/>-->
    </flow>

    <!-- Console Flow -->
    <flow name="chainsync-platform-api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*" doc:name="HTTP Console">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>

        <apikit:console config-ref="chainsync-platform-api-config" doc:name="APIkit Console"/>
    </flow>
</mule>
