src/main/mule/chainsync-platform-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- Import global configuration first -->
    <import file="global.xml" doc:name="Import Global Configurations"/>

    <!-- Import configuration files -->
    <import file="external-api-config.xml" doc:name="Import External API Configurations"/>
    <import file="environmental-data-integration.xml" doc:name="Import Environmental Data Integration"/>
    <import file="error-handling.xml" doc:name="Import Error Handling"/>

    <!-- Import ALL implementation files for complete API coverage -->

    <!-- Core Environmental Data Implementations -->
    <import file="environmental-data-impl.xml" doc:name="Import Environmental Data Implementation"/>
    <import file="environmental-facilities-impl.xml" doc:name="Import Environmental Facilities Implementation"/>
    <import file="environmental-station-readings-impl.xml" doc:name="Import Station Readings Implementation"/>

    <!-- Monitoring & Quality Implementations -->
    <import file="air-pollution-monitoring.xml" doc:name="Import Air Pollution Monitoring"/>
    <import file="water-quality-monitoring.xml" doc:name="Import Water Quality Monitoring"/>

    <!-- Emergency & Alert Implementations -->
    <import file="environmental-emergency-alerts-impl.xml" doc:name="Import Emergency Alerts Implementation"/>
    <import file="facility-incident-impl.xml" doc:name="Import Facility Incident Implementation"/>

    <!-- Vehicle & Fleet Implementations -->
    <import file="environmental-service-vehicles-impl.xml" doc:name="Import Service Vehicles Implementation"/>
    <import file="vehicle-dispatch-impl.xml" doc:name="Import Vehicle Dispatch Implementation"/>
    <import file="fleet-monitoring-api.xml" doc:name="Import Fleet Monitoring API"/>

    <!-- AI Integration Implementation -->
    <import file="ai-agent-integration-impl.xml" doc:name="Import AI Agent Integration Implementation"/>

    <!-- Fleet Coordination Implementations -->
    <import file="environmental-data-system-api.xml" doc:name="Import Fleet Coordination Recommendations"/>
    <import file="fleet-environmental-coordination.xml" doc:name="Import Fleet Environmental Coordination"/>

    <!-- APIkit Configuration with updated RAML -->
    <apikit:config name="chainsync-platform-api-config" api="api/chainsync-platform-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>

    <!-- Main API Flow -->
    <flow name="chainsync-platform-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*" doc:name="HTTP Listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>

        <apikit:router config-ref="chainsync-platform-api-config" doc:name="APIkit Router"/>
    </flow>

    <!-- Console Flow -->
    <flow name="chainsync-platform-api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*" doc:name="HTTP Console">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>

        <apikit:console config-ref="chainsync-platform-api-config" doc:name="APIkit Console"/>
    </flow>
</mule>