src/main/mule/orchestration-example.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <!--
        ORCHESTRATION PATTERN EXAMPLE

        This file demonstrates the complete orchestration pattern with:
        - Main API flow (routing & correlation ID)
        - Implementation flow (business logic orchestration)
        - Sub-flows (reusable components)
        - External API integration with circuit breaker
        - Comprehensive error handling at all layers
        - Parallel execution with scatter-gather

        This is a reference implementation showing best practices.
    -->

    <!-- ========================================================================== -->
    <!-- LAYER 1: MAIN API FLOWS (Routing & Request Context)                       -->
    <!-- ========================================================================== -->

    <!--
        Main API Flow: Create Emergency Alert

        This flow is auto-generated by APIkit based on RAML definition.
        Responsibilities:
        - Initialize correlation ID
        - Set up request context
        - Route to implementation
        - Set response headers
        - Global error handling
    -->
    <flow name="post:\environmental-emergency-alerts:application\json:chainsync-platform-api-config">
        <!-- Step 1: Initialize Request Context -->
        <ee:transform doc:name="Initialize Request Context">
            <ee:variables>
                <ee:set-variable variableName="correlationId"><![CDATA[%dw 2.0
import * from error-handling-utils
output application/java
---
// Use existing correlation ID from header, or generate new one
attributes.headers['X-Correlation-ID'] default generateCorrelationId()
]]></ee:set-variable>
                <ee:set-variable variableName="requestTimestamp"><![CDATA[%dw 2.0
output application/java
---
now()
]]></ee:set-variable>
                <ee:set-variable variableName="requestPath"><![CDATA[%dw 2.0
output application/java
---
attributes.requestPath default "/environmental-emergency-alerts"
]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <!-- Step 2: Log Request Start -->
        <logger level="INFO"
                message='#["[$(vars.correlationId)] POST /environmental-emergency-alerts - Started | Severity: $(payload.severity default 'UNKNOWN')"]'/>

        <!-- Step 3: Call Implementation Flow -->
        <flow-ref name="create-emergency-alert-implementation"
                  doc:name="Create Emergency Alert Implementation"/>

        <!-- Step 4: Log Success -->
        <logger level="INFO"
                message='#["[$(vars.correlationId)] POST /environmental-emergency-alerts - Completed | AlertID: $(payload.alertId) | ResponseTime: $((now() - vars.requestTimestamp).milliseconds)ms"]'/>

        <!-- Step 5: Set Response Headers -->
        <ee:transform doc:name="Set Response Headers">
            <ee:variables>
                <ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
    "X-Correlation-ID": vars.correlationId,
    "X-Response-Time-MS": (now() - vars.requestTimestamp).milliseconds as String,
    "X-Alert-ID": payload.alertId default null
}
]]></ee:set-variable>
                <ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <!--
        Main API Flow: Get Facility Complete Data

        This demonstrates orchestration of multiple data sources
    -->
    <flow name="get:\environmental-facilities\(facilityId)\complete:chainsync-platform-api-config">
        <!-- Initialize Context -->
        <ee:transform doc:name="Initialize Context">
            <ee:variables>
                <ee:set-variable variableName="correlationId"><![CDATA[%dw 2.0
import * from error-handling-utils
output application/java
---
attributes.headers['X-Correlation-ID'] default generateCorrelationId()
]]></ee:set-variable>
                <ee:set-variable variableName="requestTimestamp"><![CDATA[now()]]></ee:set-variable>
                <ee:set-variable variableName="facilityId"><![CDATA[attributes.uriParams.'facilityId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <logger level="INFO"
                message='#["[$(vars.correlationId)] GET /environmental-facilities/$(vars.facilityId)/complete - Started"]'/>

        <!-- Call Implementation -->
        <flow-ref name="get-facility-complete-data-implementation"
                  doc:name="Get Complete Facility Data"/>

        <logger level="INFO"
                message='#["[$(vars.correlationId)] GET /environmental-facilities/$(vars.facilityId)/complete - Completed"]'/>

        <!-- Set Response Headers -->
        <ee:transform doc:name="Set Response Headers">
            <ee:variables>
                <ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
    "X-Correlation-ID": vars.correlationId,
    "X-Response-Time-MS": (now() - vars.requestTimestamp).milliseconds as String
}
]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <!-- ========================================================================== -->
    <!-- LAYER 2: IMPLEMENTATION FLOWS (Business Logic Orchestration)              -->
    <!-- ========================================================================== -->

    <!--
        Implementation: Create Emergency Alert

        This flow orchestrates the complete emergency alert creation process:
        1. Validate input
        2. Get environmental data
        3. Calculate risk score
        4. Create alert record
        5. Parallel notifications (meeting, AI, vehicle dispatch)
        6. Build response
    -->
    <flow name="create-emergency-alert-implementation">
        <logger level="DEBUG"
                message='#["[$(vars.correlationId)] Creating emergency alert - Facility: $(payload.facilityId), Severity: $(payload.severity)"]'/>

        <!-- Step 1: Validate Input -->
        <flow-ref name="validate-alert-input-subflow" doc:name="Validate Input"/>

        <!-- Step 2: Store validated input -->
        <ee:transform doc:name="Store Input Data">
            <ee:variables>
                <ee:set-variable variableName="alertInput"><![CDATA[payload]]></ee:set-variable>
                <ee:set-variable variableName="facilityId"><![CDATA[payload.facilityId]]></ee:set-variable>
                <ee:set-variable variableName="alertSeverity"><![CDATA[payload.severity]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <!-- Step 3: Get Environmental Data for Facility -->
        <logger level="DEBUG"
                message='#["[$(vars.correlationId)] Fetching environmental data for facility: $(vars.facilityId)"]'/>

        <flow-ref name="get-facility-environmental-data-subflow"
                  doc:name="Get Environmental Data"/>

        <ee:transform doc:name="Store Environmental Data">
            <ee:variables>
                <ee:set-variable variableName="environmentalData"><![CDATA[payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <!-- Step 4: Calculate Risk Score -->
        <flow-ref name="calculate-alert-risk-score-subflow"
                  doc:name="Calculate Risk Score"/>

        <ee:transform doc:name="Store Risk Score">
            <ee:variables>
                <ee:set-variable variableName="riskScore"><![CDATA[payload.riskScore]]></ee:set-variable>
                <ee:set-variable variableName="riskLevel"><![CDATA[payload.riskLevel]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <!-- Step 5: Create Alert Record -->
        <flow-ref name="create-alert-record-subflow"
                  doc:name="Create Alert Record"/>

        <ee:transform doc:name="Store Alert ID">
            <ee:variables>
                <ee:set-variable variableName="alertId"><![CDATA[payload.alertId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <logger level="INFO"
                message='#["[$(vars.correlationId)] Alert created: $(vars.alertId) | Risk: $(vars.riskLevel) ($(vars.riskScore))"]'/>

        <!-- Step 6: Orchestrate Parallel Emergency Response Actions -->
        <logger level="DEBUG"
                message='#["[$(vars.correlationId)] Orchestrating emergency response actions"]'/>

        <scatter-gather doc:name="Orchestrate Emergency Response">
            <!-- Route 1: Schedule Emergency Coordination Meeting (Slotify) -->
            <route>
                <try>
                    <logger level="DEBUG"
                            message='#["[$(vars.correlationId)] Scheduling emergency meeting via Slotify"]'/>

                    <flow-ref name="schedule-emergency-meeting-subflow"
                              doc:name="Schedule Meeting"/>

                    <logger level="INFO"
                            message='#["[$(vars.correlationId)] Emergency meeting scheduled successfully"]'/>

                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN"
                                    message='#["[$(vars.correlationId)] Meeting scheduling failed: $(error.description) - Continuing with manual coordination"]'/>

                            <ee:transform>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    action: "schedule_meeting",
    status: "failed",
    reason: error.description,
    fallback: "Manual coordination required"
}
]]></ee:set-payload>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </route>

            <!-- Route 2: Notify AI Agent -->
            <route>
                <try>
                    <logger level="DEBUG"
                            message='#["[$(vars.correlationId)] Notifying AI agent of emergency"]'/>

                    <flow-ref name="notify-ai-agent-subflow"
                              doc:name="Notify AI Agent"/>

                    <logger level="INFO"
                            message='#["[$(vars.correlationId)] AI agent notified successfully"]'/>

                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN"
                                    message='#["[$(vars.correlationId)] AI notification failed: $(error.description) - Continuing"]'/>

                            <ee:transform>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    action: "notify_ai",
    status: "failed",
    reason: error.description,
    fallback: "AI analysis skipped"
}
]]></ee:set-payload>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </route>

            <!-- Route 3: Dispatch Emergency Response Vehicle -->
            <route>
                <try>
                    <logger level="DEBUG"
                            message='#["[$(vars.correlationId)] Dispatching emergency response vehicle"]'/>

                    <flow-ref name="dispatch-emergency-vehicle-subflow"
                              doc:name="Dispatch Vehicle"/>

                    <logger level="INFO"
                            message='#["[$(vars.correlationId)] Vehicle dispatched successfully"]'/>

                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN"
                                    message='#["[$(vars.correlationId)] Vehicle dispatch failed: $(error.description) - Manual dispatch required"]'/>

                            <ee:transform>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    action: "dispatch_vehicle",
    status: "failed",
    reason: error.description,
    fallback: "Manual dispatch required"
}
]]></ee:set-payload>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </route>
        </scatter-gather>

        <!-- Step 7: Build Final Response -->
        <ee:transform doc:name="Build Alert Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    alertId: vars.alertId,
    status: "ACTIVE",
    severity: vars.alertSeverity,
    facilityId: vars.facilityId,
    riskAssessment: {
        score: vars.riskScore,
        level: vars.riskLevel
    },
    environmentalData: vars.environmentalData,
    emergencyResponse: {
        meetingScheduled: {
            status: payload[0].payload.status default "unknown",
            details: payload[0].payload
        },
        aiNotified: {
            status: payload[1].payload.status default "unknown",
            details: payload[1].payload
        },
        vehicleDispatched: {
            status: payload[2].payload.status default "unknown",
            details: payload[2].payload
        }
    },
    metadata: {
        createdAt: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"},
        correlationId: vars.correlationId,
        createdBy: "ChainSync Platform"
    }
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <logger level="INFO"
                message='#["[$(vars.correlationId)] Emergency alert creation completed: $(vars.alertId)"]'/>

        <!-- Error Handler for Implementation Flow -->
        <error-handler>
            <on-error-propagate type="APP:VALIDATION_ERROR">
                <logger level="WARN"
                        message='#["[$(vars.correlationId)] Alert validation failed: $(error.description)"]'/>

                <ee:transform doc:name="Build Validation Error Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
import * from error-handling-utils
import * from error-codes
---
buildErrorResponse(
    ALERT_MISSING_REQUIRED_FIELDS,
    error.description,
    {
        providedFields: vars.alertInput.^raw pluck $$ default []
    },
    vars.correlationId,
    400
)
]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>

            <on-error-propagate type="ANY">
                <logger level="ERROR"
                        message='#["[$(vars.correlationId)] Emergency alert creation failed: $(error.description)"]'/>

                <ee:transform doc:name="Build Error Response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
import * from error-handling-utils
import * from error-codes
---
buildErrorResponse(
    ALERT_CREATION_FAILED,
    "Failed to create emergency alert",
    {
        errorType: error.errorType.identifier,
        reason: error.description,
        facilityId: vars.facilityId default null
    },
    vars.correlationId,
    500
)
]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!--
        Implementation: Get Complete Facility Data

        This demonstrates parallel data aggregation from multiple sources
    -->
    <flow name="get-facility-complete-data-implementation">
        <logger level="DEBUG"
                message='#["[$(vars.correlationId)] Fetching complete data for facility: $(vars.facilityId)"]'/>

        <!-- Gather data from multiple sources in parallel -->
        <scatter-gather doc:name="Gather All Facility Data">
            <!-- Route 1: Basic Facility Info -->
            <route>
                <try>
                    <flow-ref name="get-facility-basic-info-subflow"
                              doc:name="Get Basic Info"/>

                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN"
                                    message='#["[$(vars.correlationId)] Facility basic info failed: $(error.description)"]'/>
                            <set-payload value='#[{status: "unavailable", reason: error.description}]'/>
                        </on-error-continue>
                    </error-handler>
                </try>
            </route>

            <!-- Route 2: Weather Data -->
            <route>
                <try>
                    <flow-ref name="get-facility-weather-data-subflow"
                              doc:name="Get Weather"/>

                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN"
                                    message='#["[$(vars.correlationId)] Weather data failed: $(error.description)"]'/>
                            <set-payload value='#[{status: "unavailable", reason: error.description}]'/>
                        </on-error-continue>
                    </error-handler>
                </try>
            </route>

            <!-- Route 3: Air Quality -->
            <route>
                <try>
                    <flow-ref name="get-facility-air-quality-subflow"
                              doc:name="Get Air Quality"/>

                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN"
                                    message='#["[$(vars.correlationId)] Air quality data failed: $(error.description)"]'/>
                            <set-payload value='#[{status: "unavailable", reason: error.description}]'/>
                        </on-error-continue>
                    </error-handler>
                </try>
            </route>

            <!-- Route 4: Active Alerts -->
            <route>
                <try>
                    <flow-ref name="get-facility-active-alerts-subflow"
                              doc:name="Get Active Alerts"/>

                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN"
                                    message='#["[$(vars.correlationId)] Active alerts failed: $(error.description)"]'/>
                            <set-payload value='#[{status: "unavailable", reason: error.description}]'/>
                        </on-error-continue>
                    </error-handler>
                </try>
            </route>

            <!-- Route 5: Assigned Vehicles -->
            <route>
                <try>
                    <flow-ref name="get-facility-vehicles-subflow"
                              doc:name="Get Vehicles"/>

                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger level="WARN"
                                    message='#["[$(vars.correlationId)] Vehicle data failed: $(error.description)"]'/>
                            <set-payload value='#[{status: "unavailable", reason: error.description}]'/>
                        </on-error-continue>
                    </error-handler>
                </try>
            </route>
        </scatter-gather>

        <!-- Merge All Data -->
        <ee:transform doc:name="Merge Complete Facility Data">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    facilityId: vars.facilityId,
    basicInfo: payload[0].payload,
    environmental: {
        weather: payload[1].payload,
        airQuality: payload[2].payload
    },
    alerts: payload[3].payload,
    vehicles: payload[4].payload,
    metadata: {
        dataCompleteness: {
            basicInfo: if (payload[0].payload.status != "unavailable") "complete" else "incomplete",
            weather: if (payload[1].payload.status != "unavailable") "complete" else "incomplete",
            airQuality: if (payload[2].payload.status != "unavailable") "complete" else "incomplete",
            alerts: if (payload[3].payload.status != "unavailable") "complete" else "incomplete",
            vehicles: if (payload[4].payload.status != "unavailable") "complete" else "incomplete"
        },
        retrievedAt: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"},
        correlationId: vars.correlationId
    }
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <logger level="INFO"
                message='#["[$(vars.correlationId)] Complete facility data retrieved for: $(vars.facilityId)"]'/>
    </flow>

    <!-- ========================================================================== -->
    <!-- LAYER 3: SUB-FLOWS (Reusable Components)                                  -->
    <!-- ========================================================================== -->

    <!-- Validation Sub-Flow -->
    <sub-flow name="validate-alert-input-subflow">
        <logger level="DEBUG"
                message='#["[$(vars.correlationId)] Validating alert input"]'/>

        <choice doc:name="Validate Required Fields">
            <when expression="#[payload.severity == null or payload.severity == '']">
                <raise-error type="APP:VALIDATION_ERROR"
                            description="Missing required field: severity"/>
            </when>
            <when expression="#[payload.facilityId == null or payload.facilityId == '']">
                <raise-error type="APP:VALIDATION_ERROR"
                            description="Missing required field: facilityId"/>
            </when>
            <when expression="#[!(payload.severity contains ['LOW', 'MEDIUM', 'HIGH', 'CRITICAL'])]">
                <raise-error type="APP:VALIDATION_ERROR"
                            description='#["Invalid severity level: $(payload.severity). Must be one of: LOW, MEDIUM, HIGH, CRITICAL"]'/>
            </when>
        </choice>

        <logger level="DEBUG"
                message='#["[$(vars.correlationId)] Alert input validated successfully"]'/>
    </sub-flow>

    <!-- Get Environmental Data Sub-Flow -->
    <sub-flow name="get-facility-environmental-data-subflow">
        <ee:transform doc:name="Prepare Environmental Data Request">
            <ee:variables>
                <ee:set-variable variableName="stationId"><![CDATA[%dw 2.0
output application/java
---
// Convert facility ID to station ID
vars.facilityId replace "FAC" with "CENTRAL"
]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <!-- Call existing environmental data flow -->
        <flow-ref name="get:\environmental-data\(stationId):chainsync-platform-api-config"
                  doc:name="Get Environmental Data"/>
    </sub-flow>

    <!-- Calculate Risk Score Sub-Flow -->
    <sub-flow name="calculate-alert-risk-score-subflow">
        <ee:transform doc:name="Calculate Risk Score">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
import * from global-functions
---
{
    riskScore: do {
        var baseScore = if (vars.alertSeverity == "CRITICAL") 10
                       else if (vars.alertSeverity == "HIGH") 7
                       else if (vars.alertSeverity == "MEDIUM") 4
                       else 2

        var aqi = vars.environmentalData.airQuality.aqi default 0
        var aqiModifier = if (aqi > 150) 2
                         else if (aqi > 100) 1
                         else 0

        var temp = vars.environmentalData.weather.temperature default 20
        var tempModifier = if (temp > 35 or temp < 0) 1 else 0

        ---
        baseScore + aqiModifier + tempModifier
    },
    riskLevel: do {
        var score = payload.riskScore
        ---
        if (score >= 8) "CRITICAL"
        else if (score >= 6) "HIGH"
        else if (score >= 4) "MEDIUM"
        else "LOW"
    },
    factors: {
        severity: vars.alertSeverity,
        airQualityIndex: vars.environmentalData.airQuality.aqi default 0,
        temperature: vars.environmentalData.weather.temperature default 0
    }
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </sub-flow>

    <!-- Create Alert Record Sub-Flow -->
    <sub-flow name="create-alert-record-subflow">
        <ee:transform doc:name="Create Alert Record">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    alertId: "ALERT-" ++ (randomInt(999999) as String),
    facilityId: vars.facilityId,
    severity: vars.alertSeverity,
    riskScore: vars.riskScore,
    status: "ACTIVE",
    createdAt: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"},
    correlationId: vars.correlationId
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </sub-flow>

    <!-- Schedule Emergency Meeting Sub-Flow (with Circuit Breaker) -->
    <sub-flow name="schedule-emergency-meeting-subflow">
        <!-- Set API context for circuit breaker -->
        <set-variable variableName="apiName" value="Slotify"/>
        <set-variable variableName="fallbackData" value='#[{status: "manual_coordination", message: "Slotify unavailable"}]'/>

        <!-- Check circuit breaker state -->
        <flow-ref name="get-circuit-state" doc:name="Check Circuit"/>

        <choice doc:name="Circuit Open?">
            <when expression="#[vars.circuitState == 'OPEN']">
                <logger level="WARN"
                        message='#["[$(vars.correlationId)] Slotify circuit OPEN - using manual coordination"]'/>

                <ee:transform>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    action: "schedule_meeting",
    status: "fallback",
    message: "Slotify unavailable - manual coordination required",
    circuitState: "OPEN"
}
]]></ee:set-payload>
                </ee:transform>
            </when>
            <otherwise>
                <!-- Circuit closed or half-open - attempt API call -->
                <try>
                    <!-- Call Slotify integration -->
                    <flow-ref name="create-emergency-coordination-meeting-subflow"
                              doc:name="Create Meeting"/>

                    <!-- Record success -->
                    <flow-ref name="record-circuit-success" doc:name="Record Success"/>

                    <ee:transform>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    action: "schedule_meeting",
    status: "success",
    meetingId: payload.meetingId default null,
    meetingUrl: payload.meetingUrl default null
}
]]></ee:set-payload>
                    </ee:transform>

                    <error-handler>
                        <on-error-propagate type="HTTP:CONNECTIVITY, HTTP:TIMEOUT, HTTP:UNAUTHORIZED">
                            <!-- Record failure -->
                            <flow-ref name="record-circuit-failure" doc:name="Record Failure"/>

                            <!-- Use fallback -->
                            <logger level="WARN"
                                    message='#["[$(vars.correlationId)] Slotify API failed: $(error.description) - using fallback"]'/>

                            <ee:transform>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    action: "schedule_meeting",
    status: "fallback",
    message: "Slotify API failed - manual coordination required",
    error: error.description
}
]]></ee:set-payload>
                            </ee:transform>
                        </on-error-propagate>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- Notify AI Agent Sub-Flow (with Error Handling) -->
    <sub-flow name="notify-ai-agent-subflow">
        <ee:transform doc:name="Prepare AI Notification">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    type: "emergency_alert",
    alertId: vars.alertId,
    facilityId: vars.facilityId,
    severity: vars.alertSeverity,
    riskScore: vars.riskScore,
    environmentalData: vars.environmentalData,
    timestamp: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <!-- Call AI agent integration (if enabled) -->
        <choice doc:name="AI Agent Enabled?">
            <when expression="#[p('ai.agent.enabled') == 'true']">
                <try>
                    <!-- Simulate AI Agent call (replace with actual implementation) -->
                    <logger level="INFO"
                            message='#["[$(vars.correlationId)] Notifying AI Agent with alert: $(vars.alertId)"]'/>

                    <ee:transform>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    action: "notify_ai",
    status: "success",
    message: "AI agent notified successfully"
}
]]></ee:set-payload>
                    </ee:transform>

                    <error-handler>
                        <on-error-propagate type="ANY">
                            <logger level="WARN"
                                    message='#["[$(vars.correlationId)] AI Agent notification failed: $(error.description)"]'/>

                            <ee:transform>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    action: "notify_ai",
    status: "failed",
    error: error.description
}
]]></ee:set-payload>
                            </ee:transform>
                        </on-error-propagate>
                    </error-handler>
                </try>
            </when>
            <otherwise>
                <logger level="DEBUG"
                        message='#["[$(vars.correlationId)] AI Agent disabled - skipping notification"]'/>

                <ee:transform>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    action: "notify_ai",
    status: "skipped",
    message: "AI agent disabled in configuration"
}
]]></ee:set-payload>
                </ee:transform>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- Dispatch Emergency Vehicle Sub-Flow -->
    <sub-flow name="dispatch-emergency-vehicle-subflow">
        <ee:transform doc:name="Prepare Vehicle Dispatch">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    facilityId: vars.facilityId,
    alertId: vars.alertId,
    priority: if (vars.riskLevel == "CRITICAL") "IMMEDIATE"
             else if (vars.riskLevel == "HIGH") "HIGH"
             else "NORMAL",
    requestedBy: "Emergency Alert System"
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <!-- Call vehicle dispatch implementation -->
        <try>
            <!-- Simulate dispatch (replace with actual implementation) -->
            <logger level="INFO"
                    message='#["[$(vars.correlationId)] Dispatching vehicle for facility: $(vars.facilityId)"]'/>

            <ee:transform>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    action: "dispatch_vehicle",
    status: "success",
    vehicleId: "VEH-" ++ (randomInt(999) as String),
    estimatedArrival: 15,
    message: "Vehicle dispatched successfully"
}
]]></ee:set-payload>
            </ee:transform>

            <error-handler>
                <on-error-propagate type="ANY">
                    <logger level="ERROR"
                            message='#["[$(vars.correlationId)] Vehicle dispatch failed: $(error.description)"]'/>

                    <ee:transform>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    action: "dispatch_vehicle",
    status: "failed",
    error: error.description
}
]]></ee:set-payload>
                    </ee:transform>
                </on-error-propagate>
            </error-handler>
        </try>
    </sub-flow>

    <!-- Placeholder Sub-Flows for Complete Data Retrieval -->
    <!-- Replace these with actual implementations -->

    <sub-flow name="get-facility-basic-info-subflow">
        <ee:transform>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    facilityId: vars.facilityId,
    name: "Environmental Facility " ++ vars.facilityId,
    type: "MONITORING_STATION",
    status: "OPERATIONAL"
}
]]></ee:set-payload>
        </ee:transform>
    </sub-flow>

    <sub-flow name="get-facility-weather-data-subflow">
        <!-- Call weather integration -->
        <flow-ref name="fetch-weather-data-subflow" doc:name="Fetch Weather"/>
    </sub-flow>

    <sub-flow name="get-facility-air-quality-subflow">
        <!-- Call air quality integration -->
        <flow-ref name="fetch-air-quality-data-subflow" doc:name="Fetch Air Quality"/>
    </sub-flow>

    <sub-flow name="get-facility-active-alerts-subflow">
        <ee:transform>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    activeAlerts: [],
    totalActive: 0
}
]]></ee:set-payload>
        </ee:transform>
    </sub-flow>

    <sub-flow name="get-facility-vehicles-subflow">
        <ee:transform>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    assignedVehicles: [],
    totalAssigned: 0
}
]]></ee:set-payload>
        </ee:transform>
    </sub-flow>

</mule>
